@using LabelName = DIMS.Content.Resource_Files.NoticeConfiguration;
@{
    ViewBag.Title = "NoticeConfiguration";
}
<style>
    #NoticeConfigurationTable {
        margin-left: 25px;
        width: 95%;
    }

    @@media only screen and (max-width : 650px) {

        #CustomerAddress_Form {
            overflow-x: scroll;
        }
    }
</style>
<section class="content-header" style="padding: 1px 15px 0;">
    <h2>NoticeConfiguration</h2>
    <ol class="breadcrumb">
        <li><a href ng-click="go('home')"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>NoticeConfiguration</li>
        <li class="active">Corrective Measure</li>
    </ol>
    <nav style="padding: 1px 10px 1px 10px;">
        <div class="row">
            <div class="col-sm-11" id="IconsNavBar">

                <a href ng-click="SaveNoticeFunction()" id="CompRegSave">
                    <i class="fa fa-floppy-o fa-4" title="Save"></i>
                </a>
                <a href ng-click="listNoticeFunction()">
                    <i class="fa fa-list fa-4" title="List"></i>
                </a>
                <a href ng-click="NewNoticeFunction()">
                    <i class="fa fa-file-o fa-4" title="Add New"></i>
                </a>

            </div>
        </div>
    </nav>
</section>
<section class="content" style="max-height: 478px; overflow-y: scroll;">
    @*<input type="button" value="Add" ng-click="SaveNoticeFunction()" style="background-color: #3295D6" />*@

    @*<button type="button" id="save" class="btn btn-primary" ng-click="SaveNoticeFunction()" style="background-color: #3295D6">Save</button>
    <button type="button" id="List" class="btn btn-primary" ng-click="listNoticeFunction()" style="background-color: #3295D6">List</button>
    <button type="button" id="New" class="btn btn-primary" ng-click="NewNoticeFunction()" style="background-color: #3295D6">New</button>*@

    <!--- Dummy --->
    <!--- Dummy --->
    <div class="row" id="listNOTICEVIEW" style="display: none;">
        <div class="col-md-12">
            <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
                <div class="table-responsive">
                    <table id="listNOTICE" class="table" width="100%" cellspacing="0">
                        <thead>
                            <tr style="background-color: rgb(50,149,214)">
                                <th>SNO.</th>
                                <th>ID</th>
                                <th>Rule Code</th>
                                <th>Rule Name</th>
                                <th>Criteria Name</th>
                                <th>Criteria Value</th>
                                <th>Created By</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="addnoticeview">
        <div class="col-md-12">
            <div class="box box-primary" style="background: white none repeat scroll 0 0; padding: 4px;">
                <div class="box-header">
                    @*                    <h3 class="box-title">Complaint Registration</h3>*@

                </div>
                <div class="box-body pad">
                    <form class="form-horizontal" role="form" style="font-size: 12px; font-weight: normal" action="">
                        <input type="hidden" id="noticemaster_id" data-ng-model="noticemaster_id_Model" />

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtInvestigation Num">
                                            @LabelName.RuleCode   <span style="color: #FF0000">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="txtRuleCode" ng-model="RuleCode" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtPlant">
                                            @LabelName.RuleName<span style="color: #FF0000">*</span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="txtRuleName" ng-model="RuleName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtWidth">
                                            @LabelName.RuleDescription</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control custom-control" rows="2" maxlength="30" style="resize: none"
                                                id="txtRuleDescription" ng-model="RuleDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="ProductType">
                                            @LabelName.ProductType<span style="color: #FF0000">*</span>
                                        </label>
                                        <div class="col-sm-6">
                <div class="input-group add-on">
                                        <input type="text" class="form-control" id="txtNotice_Product_Type_codeName" data-ng-model="txtNotice_Product_Type_codeName_Model" disabled="disabled" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="GetFieldData('GetNotice_Product_Type_codeNameLookupData','Notice_Product_Type_codeNameMaster','Notice_Product_Type_codeName List')"><i class="glyphicon glyphicon-new-window"></i></button>
                                </div>
                            </div>
                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtCustomerCode">
                                            @LabelName.UserRole
                                        </label>
                                        <div class="col-sm-6">
                <div class="input-group add-on">
                                        <input type="text" class="form-control" id="txtUserRole" data-ng-model="UserRole" disabled="disabled" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="GetFieldData('GetNotice_User_RoleLookupData','Notice_User_RoleMaster','Notice_User_Role List')"><i class="glyphicon glyphicon-new-window"></i></button>
                                </div>
                            </div>
                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtNoticeType">
                                            @LabelName.NoticeType
                                        </label>
                                        <div class="col-sm-6">
                                            <form class="form-control" id="txtNoticeType" ng-model="NoticeType">
                                                <input type="radio" name="NoticeType" value="Alert" ng-model="NoticeTypeSelection">
                                                @LabelName.Alert
                                                <input type="radio" name="NoticeType" value="Notice" ng-model="NoticeTypeSelection">
                                                @LabelName.Notice
                                                <input type="radio" name="NoticeType" value="Both" ng-model="NoticeTypeSelection">
                                                @LabelName.Both

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtCriteriaName">
                                            @LabelName.CriteriaName
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="singleSelect" id="txtCriteriaName" ng-model="CriteriaName" ng-int="CriteriaName='---Please select---'">
                                                <option value="---Please select---">---Please select---</option>

                                                <option value="NOD">Noofdefectivesheets</option>
                                                <option value="TC">TransitComplaint</option>
                                                <option value="MC">ManufacturingComplaint</option>
                                                <option value="TCD">TransitComplaintDepo</option>
                                                <option value="TCP">TransitComplaintPlant</option>
                                                <option value="DRM">Delay Reason Message</option>
                                                <option value="CAM">Compensation Approved Message</option>
                                                <option value="CR">Complaint Registration</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtComplaintRegisteredDate">
                                            @LabelName.CriteriaValue
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="txtCriteriaValue" ng-model="CriteriaValue" />
                                            &nbsp;<span style="color: red;"
                                                id="errmsg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtInvestigationDate">
                                            @LabelName.MessageBody</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control custom-control" rows="2" maxlength="30" style="resize: none"
                                                id="txtMessageBody" ng-model="MessageBody"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtInvestigationDoneBy">
                                            @LabelName.CreatedBy</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control gray" id="txtNoticeCreatedBy" ng-model="txtNoticeCreatedBy_Model" disabled="disabled" ng-init="txtNoticeCreatedBy_Model='ADMIN'" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtCustomerCategoryName">
                                            @LabelName.CreatedDate
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control gray" id="txtNoticeCreatedDate" ng-model="txtNoticeCreatedDate_Model" disabled="disabled" ng-init="txtNoticeCreatedDate_Model='@System.DateTime.Now.ToString("dd/MM/yyyy")'" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtEnable">
                                            @LabelName.Enable</label>
                                        <div class="col-sm-6">
                                            <select name="singleSelect" class="form-control" id="ddlEnable" ng-model="Enable_Model" ng-init="Enable_Model='---Please select---'">
                                                <option value="---Please select---">---Please select---</option>
                                                <option value="YES">YES</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label" for="txtProductType">
                                            @LabelName.ProductType</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="txtProductType" ng-model="txtProductType_Model" />
                                        </div>
                                    </div>
                                </div>

                            </div>*@
                            </div>
                            <div class="col-sm-12  tabdiv" id="InvoiceListTab">
                                <div class="col-sm-12 CloseOpen" onclick="FormToggle('CustomerAddress')">
                                    <img src="~/Images/en_next.png" />
                                    <a class="Expand" style="color: black">User Details</a>
                                </div>
                                <div class="row" style="padding-top: 30px; display: none;" id="CustomerAddress_Form">

                                    <div class="box-header">

                                        <table class="table" id="NoticeConfigurationTable">
                                            <thead>
                                                <tr style="background-color: #B2CCED">
                                                    <th>@LabelName.SNO</th>
                                                    <th>@LabelName.ComplaintCode	</th>
                                                    <th>@LabelName.ComplaintTrackingNo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>
                                                <tr style="background-color: #B2CCED; display: none;">
                                                    <th>@LabelName.SNO</th>
                                                    <th>@LabelName.ComplaintCode	</th>
                                                    <th>@LabelName.ComplaintTrackingNo</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <input type="button" value="ADD" id="ADD" style="background-color: #3295D6; margin-left: 31px;" class="smallbutton" data-toggle="modal" data-target="#" ng-click="ADD()" />

                                    </div>

                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="NoticeConfigurationModal" tabindex="-1" role="dialog" aria-labelledby="MSDModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MSDModalLabel">Add/Update Notice Configuration/Notice Configuration Lines</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal ng-pristine ng-valid" role="form" method="get" action="#">
                    <div class="row">
                        <input type="hidden" id="NoticeconfigurationId" data-ng-model="NoticeConfigurationId_Model" />
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtModalProductTypeCode" class="col-sm-5 control-label" style="text-align: right;">
                                    User Code<span class="Mandatory">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtModalUsercode" data-ng-model="txtModalUsercode_Model" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtModalProductCategoryCode" class="col-sm-5 control-label" style="text-align: right;">
                                    User Name<span class="Mandatory">*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtModalUserName" data-ng-model="txtModalUserName_Model" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="NoticeConfiguration_Save" class="btn btn-primary" ng-click="SaveNoticeConfigurationData()">Save</button>
                <button type="button" id="NoticeConfiguration_Delete" class="btn btn-danger" ng-click="DeleteNoticeConfigurationDetails()">Delete</button>
                <button type="button" id="NoticeConfiguration_Close" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
